.footerLinkTitle {
  margin: 0;
  height: 22px;
  display: inline-block;
}
.footerLinkTitle,
.footerLinks {
  align-self: stretch;
  position: relative;
}
.linkColumn {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20) 0 0;
  box-sizing: border-box;
  gap: var(--gap-20);
  min-width: 280px;
}
.container,
.footer,
.linkColumn {
  display: flex;
  justify-content: flex-start;
}
.container {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-10);
  max-width: 1340px;
}
.footer {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-20);
  text-align: left;
  font-size: var(--font-size-16);
  color: var(--Dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1350px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .footerLinkTitle {
    font-size: var(--font-size-16);
  }
}
