.subtitle,
.title {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.titleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
}
.accomodationInput {
  border: 0;
  background-color: transparent;
  flex: 1;
  font-family: var(--font-roboto);
  font-size: var(--font-size-14);
  color: var(--color-black);
  min-width: 335px;
}
.checkinDatepicker,
.guestInput {
  flex: 1;
  min-width: 72px;
}
.guestInput {
  border: 0;
  background-color: transparent;
  font-family: var(--font-roboto);
  font-size: var(--font-size-14);
  color: var(--color-gray-300);
}
.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-12);
  min-width: 454px;
}
.searchButton {
  padding: var(--padding-16) 35px;
}
.content,
.form,
.heroContainer {
  display: flex;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-10);
  background-color: var(--White);
  border: 0.7px solid var(--Light-grey-border1);
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-11) var(--padding-12);
  gap: var(--gap-12);
}
.content,
.heroContainer {
  flex-direction: column;
}
.content {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-24);
  max-width: 1340px;
}
.heroContainer {
  align-self: stretch;
  align-items: center;
  padding: 50px var(--padding-20) var(--padding-30);
  background-image: url(/public/hero-container@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 40.4px;
  color: var(--color-black);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1350px) {
  .content {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: var(--font-size-24);
    line-height: 27px;
  }
  .subtitle {
    font-size: var(--font-size-16);
    line-height: 19px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-32);
    line-height: 36px;
  }
  .accomodationInput,
  .checkinDatepicker,
  .guestInput,
  .inputContainer {
    min-width: 100%;
  }
  .searchButton {
    text-align: center;
    flex: 1;
    min-width: 157;
  }
}
